@inherits LayoutComponentBase

<PageTitle>Sansan | Data Hub Mini</PageTitle>

<Layout>
    <Header>
        <div class="text-center d-flex main-header">
            <a href="/">
                <img src="/logo.svg" class="main-logo" alt="logo" />
            </a>
        </div>
    </Header>
    <Main>
        @Body
    </Main>
</Layout>
